:root {
    --margin-top-content: 0px; /* Cambia este valor para ajustar el margen superior */
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /*fuente para todo el sitio */
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
    max-width: 100%; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
    padding: 1rem; /* Padding lateral para centrar el contenido */
    text-align: center;
    min-height: auto; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
    margin-top: var(--margin-top-content); /* Usa la variable para el margen superior */
    background-color: #f5f5f5; /* Cambia este valor si deseas establecer un color de fondo */
}

.flex {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

.title-container {
    height: 3rem; /* Altura fija para los títulos */
    min-height: 3rem; /* Asegura que todos los títulos tengan la misma altura */
    display: flex;
    justify-content: center; /* Centra el título horizontalmente */
    align-items: center; /* Centra el título verticalmente */
}


/* Ajustar el contenedor de ofertas */
.list-container {
    height: 200px; /* Establece una altura fija para el contenedor */
    overflow-y: auto; /* Habilita el scroll vertical */
    border: none; /* Agrega borde para distinguir el contenedor */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 1rem; /* Espaciado interno */
}


ul.list-disc {
    padding-left: 1.5rem; /* Ajusta el padding izquierdo según sea necesario */
    list-style-type: disc; /* Asegura que la lista use puntos */
    color: transparent; /* Hace que el texto de los puntos sea transparente */
}

ul.list-disc li {
    margin-bottom: 0.5rem; /* Espaciado entre elementos de la lista */
    position: relative; /* Permite usar un pseudo-elemento */
}

ul.list-disc li::before {
    content: ""; /* Crea un pseudo-elemento */
    display: inline-block; /* Asegura que se muestre como un bloque en línea */
    width: 0.3rem; /* Ajusta el ancho del punto */
    height: 0.3rem; /* Ajusta la altura del punto */
    background-color: #aaa; /* Color plomo para el punto */
    border-radius: 50%; /* Hace que el punto sea redondo */
    position: absolute; /* Posiciona el punto relativo al li */
    left: 0rem; /* Ajusta la posición del punto a la izquierda */
    top: 50%; /* Centra el punto verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente */
}

.nav {
    background-color: #339fc3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 0 1rem; /* Mantiene el espacio lateral */
    width: 100%; /* Asegura que el navbar ocupe todo el ancho */
    font-size: 1.5rem; /* Aumenta el tamaño del texto aquí */
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem; /* Aumenta el tamaño del texto aquí */
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #3d6997;
}

.nav li.hover {
    background-color: #339fc3;
}


footer {
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    text-align: center; /* Centra el texto del footer */
    padding: 1rem 0; /* Espaciado superior e inferior */
    background-color: #333; /* Color de fondo para el footer */
    color: white; /* Color del texto para el footer */
}


/*Estilo para Home - Ofertas */
.bg-white {
    background-color: #ffffff;
}

.text-orange-500 {
    color: #ff9b04;
}

.text-blue-500 {
    color: #3d6997;
}

.text-cyan-500 {
    color: #3bbaff;
}


.input-field {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc; /* Color del borde normal */
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.8s; /* Suaviza el cambio de color */
}

.input-field:focus {
    border-color: #ff9b04; /* Cambia este color al que desees para el borde al enfocar */
    outline: none; /* Elimina el borde azul predeterminado del navegador */
    box-shadow: 0 0 5px rgba(255, 155, 0, 0.5);
}

.login-card {
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    padding: 2rem; /* Espaciado interno más amplio */
    width: 100%; /* Ancho completo en dispositivos móviles */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    text-align: center; /* Centrar el texto */
    margin: 0 auto; /* Margen para el espacio alrededor */
}

.login-button {
    background-color: #3d6997; /* Color azul del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    padding: 0.5rem 1rem; /* Ajusta el padding */
    max-width: 300px; /* Establece un ancho máximo */
    width: 80%; /* Ancho completo en pantallas pequeñas */
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el margen automático funcione */
    margin-bottom: 1rem; /* Añadir separación entre el botón y el texto */
}


.login-button:hover {
    background-color: #31485f; /* Cambiar color al pasar el ratón */
}

/* Estilo para los textos */
.text-small {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    color: #a0a0a0; /* Color gris más claro */
    margin: 0.25rem 0; /* Espaciado pequeño entre líneas */
}

input[type="checkbox"]:checked {
    background-color: orange; /* Color de fondo del checkbox cuando está marcado */
    border: 2px solid orange; /* Color del borde cuando está marcado */
  }

/* ---- Sección de Estilos Personalizados para la Página de Gestión de Ofertas ---- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
/* ---- Sección de Estilos Personalizados para la Página de Gestión profesores ---- */

/* Efecto de sombreado al pasar el mouse sobre las filas de la tabla seccion profesorFormulario */
.row-hover-effect:hover {
    background-color: #d3d3d3; /* Color plomo suave */
}

.breadcrumb {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #4a4a4a;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #3d6997;
  }
  
  .breadcrumb span {
    margin-right: 0.5rem;
  }



/* Responsividad */
@media (max-width: 768px) {
    .w-full {
        width: 100%; /* Asegura que cada columna ocupe el 100% en pantallas pequeñas */
    }
}
